
/* Styles */

* {
	margin: 0; 
}

body {
	color: #000;
	font: 15px / 1.4em 'Courier New', monospace;
	margin: 100px auto 0;
	text-align: center;
	width: 320px;
}

main {
	display: inline-block;
}

header {
}

img {
	display: block;
	margin: 0 auto 4em;
	width: 122px; /* Half of image width for 2x resolution */
}

p {
	margin: 0.7em 0; /* 0.5 x line-height */
}

a, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover, a:active {
	color: #FF00FF;
	border-bottom: 1px solid #FF00FF;
}
