
/* Styles */

* {
	margin: 0; 
}

body {
	color: #000;
	font: 16px / 1.3em 'Courier New', monospace;
	margin: 100px auto 0;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto 2.2em;
	width: 370px; max-width: 100%; /* Half of image width for 2x resolution */
}

p {
	margin: 0.5em 0;
}

a, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover, a:active {
	color: #FF00FF;
}
